<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">


    <display-name>UserBookWishListManagement</display-name>

    <!--<servlet>
        <servlet-name>UserBookWishListManagement</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            &lt;!&ndash;<param-name>com.sun.jersey.config.property.packages</param-name>&ndash;&gt;
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.home.userbookwishlist.activity.admin</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserBookWishListManagement</servlet-name>
        <url-pattern>/wishList/*</url-pattern>
    </servlet-mapping>-->


    <listener>
        <listener-class>com.home.userbookwishlist.module.UserBookGuiceServletContextListener</listener-class>
    </listener>

    <filter>
        <filter-name>guiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>guiceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>